<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="signup.css">
</head>
<body>

  <div class="form-container">
    <nav>
      <div class="logo">
        CrimeNetX
      </div>
    </nav>
    <form method="POST">
      <div class="forms">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" name="phone" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="nid">NID Number</label>
          <input type="text" id="nid" name="nid" placeholder="NID Number">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <div class="buttons">
          <button type="submit" class="create-account">Sign Up</button>
        </div>
      </div>
    </form>
  </div>

</body>
</html>
