<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo.css">
</head>
<body>
    <div class="navbar"></div>
    <div class="body">
        <div class="messagebox">
            <div class="announcement">
                <p>Announcement</p>
                <div class="msg">
                    <div class="userannouncement">
                        <textarea></textarea>
                    </div>
                    <div class="attch">
                        <!-- <input type="file" accept="image"> -->
                        <input type="file" id="file-input" accept="image/*" style="display: none;" />
                        <!-- Custom button to trigger the file input -->
                        <label for="file-input" class="custom-file-upload"><p>Choose File</p></label>
                        <button>Send</button>
                    </div>
                </div>
                <button>See Announcement</button>
            </div>
            <div class="report">
                <p>Report Message</p>
                <div class="rmsg">
                    <div class="input">
                        <textarea></textarea>
                    </div>
                    <div class="attachment">
                        <!-- The hidden file input -->
                        <input type="file" id="file-input" accept="image/*" style="display: none;" />
                        <!-- Custom button to trigger the file input -->
                        <label for="file-input" class="custom-file-upload"><p>Choose File</p></label>
                        <button>Send Report</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="notice">
            <h1>IMPORTANT!!!</h1>
            <div class="info">
                <li>Accident at kathmandu</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolore sequi distinctio labore pariatur quibusdam voluptatibus aspernatur, fuga dolores impedit fugiat, vitae harum hic molestiae. Expedita veritatis sit porro corporis!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolore sequi distinctio labore pariatur quibusdam voluptatibus aspernatur, fuga dolores impedit fugiat, vitae harum hic molestiae. Expedita veritatis sit porro corporis!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolore sequi distinctio labore pariatur quibusdam voluptatibus aspernatur, fuga dolores impedit fugiat, vitae harum hic molestiae. Expedita veritatis sit porro corporis!</li>
            </div>
        </div>
    </div>
</body>
</html>
